body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
}


section.icons {
    max-width:1200px;
    margin: 60px auto;
    display: block;
}

section.icons::after {
    clear: both;
    display: table;
    content: '';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.icons > .icon {
    width: 20%;
    float: left;
    text-align: center;
    background: #eee;
    padding: 30px;
    box-shadow: inset 0px 0px 0px 10px #fff;
}

section.icons > .icon > .nf-icon {
    display: block;
    font-size: 3em;
    margin-bottom: .25em;
    padding-bottom: .25em;
    border-bottom: 1px solid #ddd;
}

h2 {
    display: block;
    clear: both;
    margin-top: 1em;
    margin-left: 10px;
}