@font-face {
    font-family: 'numberfire-iconfont';
    src:url('fonts/numberfire-iconfont-006.eot?qkvv0w');
    src:url('fonts/numberfire-iconfont-006.eot?qkvv0w#iefix') format('embedded-opentype'),
        url('fonts/numberfire-iconfont-006.ttf?qkvv0w') format('truetype'),
        url('fonts/numberfire-iconfont-006.woff?qkvv0w') format('woff'),
        url('fonts/numberfire-iconfont-006.svg?qkvv0w#numberfire-iconfont-001') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nf-icon {
    font-family: 'numberfire-iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #454545;
    line-height: 1;
    top: 2px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-numberfire-nf:before {
  content: "\e900";
}
.icon-nfl:before {
  content: "\e928";
}
.icon-nba:before {
  content: "\e929";
}
.icon-mlb:before {
  content: "\e92a";
}
.icon-nhl:before {
  content: "\e92e";
}
.icon-soccer:before {
  content: "\e92d";
}
.icon-golf:before {
  content: "\e92f";
}
.icon-ncaaf:before {
  content: "\e92c";
}
.icon-ncaab:before {
  content: "\e92b";
}
.icon-fd:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-add:before {
  content: "\e903";
}
.icon-arrow-big-down:before {
  content: "\e904";
}
.icon-arrow-big-left:before {
  content: "\e905";
}
.icon-arrow-big-right:before {
  content: "\e906";
}
.icon-arrow-big-up:before {
  content: "\e907";
}
.icon-arrow-down:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-arrow-up:before {
  content: "\e90b";
}
.icon-caret-down:before {
  content: "\e90c";
}
.icon-caret-left:before {
  content: "\e90d";
}
.icon-caret-right:before {
  content: "\e90e";
}
.icon-caret-up:before {
  content: "\e90f";
}
.icon-cc-american:before {
  content: "\e910";
}
.icon-cc-master:before {
  content: "\e911";
}
.icon-cc-visa:before {
  content: "\e912";
}
.icon-checkmark-c-o:before {
  content: "\e913";
}
.icon-checkmark-c:before {
  content: "\e914";
}
.icon-checkmark:before {
  content: "\e915";
}
.icon-close:before {
  content: "\e916";
}
.icon-external-link:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e942";
}
.icon-dfs-settings:before {
  content: "\e918";
}
.icon-dome:before {
  content: "\e919";
}
.icon-locked:before {
  content: "\e91a";
}
.icon-exclude:before {
  content: "\e91b";
}
.icon-create:before {
  content: "\e94a";
}
.icon-edit:before {
  content: "\e94b";
}
.icon-freeform:before {
  content: "\e91c";
}
.icon-gear:before {
  content: "\e91d";
}
.icon-gears:before {
  content: "\e91e";
}
.icon-help:before {
  content: "\e91f";
}
.icon-high:before {
  content: "\e920";
}
.icon-lineup:before {
  content: "\e921";
}
.icon-low:before {
  content: "\e922";
}
.icon-madness:before {
  content: "\e923";
}
.icon-minus:before {
  content: "\e924";
}
.icon-mlb-field:before {
  content: "\e925";
}
.icon-wind:before {
  content: "\e926";
}
.icon-more:before {
  content: "\e927";
}
.icon-notification:before {
  content: "\e930";
}
.icon-player-news:before {
  content: "\e931";
}
.icon-player-news-new:before {
  content: "\e932";
}
.icon-possession:before {
  content: "\e933";
}
.icon-premium-o:before {
  content: "\e934";
}
.icon-premium:before {
  content: "\e935";
}
.icon-projections:before {
  content: "\e936";
}
.icon-reply:before {
  content: "\e937";
}
.icon-search2:before {
  content: "\e938";
}
.icon-single-view:before {
  content: "\e939";
}
.icon-feed-view:before {
  content: "\e93a";
}
.icon-star-full:before {
  content: "\e93b";
}
.icon-star-half:before {
  content: "\e93c";
}
.icon-star-o:before {
  content: "\e93d";
}
.icon-swap:before {
  content: "\e93e";
}
.icon-todays-numbers:before {
  content: "\e93f";
}
.icon-user:before {
  content: "\e940";
}
.icon-user-o:before {
  content: "\e941";
}
.icon-facebook:before {
  content: "\e943";
}
.icon-google:before {
  content: "\e944";
}
.icon-yahoo:before {
  content: "\e945";
}
.icon-twitter:before {
  content: "\e946";
}
.icon-instagram:before {
  content: "\e947";
}
.icon-trophy-dfs:before {
  content: "\e94c";
}
.icon-trophy-nba:before {
  content: "\e948";
}
.icon-trophy-nfl:before {
  content: "\e949";
}
.icon-trophy-nhl:before {
  content: "\e94d";
}